header{
    text-align: center;
    padding: 1rem;
    background-color: aliceblue;
}
section{
    background-color: rgb(244, 244, 252);
}
h3{
    margin: 1rem;
}

.valores{
    width: 40vw;
    margin: 1rem;
    min-width: 200px;
}

.formulario{
    display: flex;
    flex-flow: row wrap;
    min-height: 55vh;
    width: 75vw;
    justify-content: center;

}
.valoresP{
    margin: 1rem;
}
.medir{
    max-width: 10rem;
    height: 40px;
    margin-top: 3rem;
}

.label{
    margin-top: 5px;
    align-items: center;
    width: 40vw;
}
.ult{
    margin-bottom: 20px;
}
.tarjetas{

    padding: 1rem;
    background-color: rgb(231, 240, 249);
    display: flex;
    flex-flow: row wrap;
    min-height: 70vh;
    justify-content: center;
}
.area{
    width: 50rem;
    min-height: 15rem;
    max-height: 15rem;
}
.nombre{
    max-width: 50rem;
    margin-bottom: 15px;
    min-width: 200px;
}
.area{
    min-width: 200px;
    max-width: 50rem;
}
.tarjetas>button{
    width: 26rem;
    margin: 15px;
    height: 2.5rem;
}
.tarjetas>h4{
    width: 100%;
}
.cartas{
    background-color: rgb(224, 237, 249);

    margin: 10px;
    border-radius: 10px;
    padding: 1rem;
    flex-flow: row wrap;
    display: flex;
    gap: 2rem;
    min-height: 20rem;

}
.cards{
    width: 15rem;
    max-height: 15rem;

}
.buscar{
    width: 15rem;
    margin: 1rem;
}

.checkboxing{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}
.tachar{
    text-decoration: line-through;
}